@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1 fw-bold text-danger mt-5">Welcome To My Note Application</h1>
    
    <p class="display-2  mt-3"></p>
        The WebNote application is a simple web application that allows you to create and manage your notes. You can use it to create notes
    </p>
    

</div>
